
body{
    margin:0;
    border:10px solid red;

}
img{
    max-width: 100%;
    vertical-align: top;
}
img#responsiveImg{
    display:none;
}
@media screen and (max-width:768px){
    img #responsiveImg{
        display:block;
    }
}